In [ ]:
Introduction to python fundamentals

In [ ]:
Understanding the variables in python :

In [ ]:
a=3
b=2

In [4]:
c=a+b

print(c)

5

In [ ]:
Rules for declaring the variables in python:

In [ ]:
Rule No 1: No namespaces for declaring the variable names

In [3]:
First name = "fayaz"
print(first name)

SyntaxError: invalid syntax (3441939882.py, line 1)

In [6]:
firstname = "fayaz"

print(firstname)

fayaz

In [ ]:
Rule No 2: A variable name should not start with number **

In [7]:
1name = "David"

print (1name)

SyntaxError: invalid decimal literal (1015482854.py, line 1)

In [8]:
name1 = "david"

print(name1)

david

In [ ]:
Rule no 3: A variable name should not contain any special characters

In [9]:
name@ = "ganesh"

print(name@)

SyntaxError: invalid syntax (3938931654.py, line 1)

In [ ]:
special characters: examples @ # $ & % *=======>

In [10]:
name = "ganesh"

print(name)

ganesh

In [ ]:
introduction to data types in python:

In [ ]:
1. strings ====> str

2. Number =====> integers-----int, floats(decimals)-----> 0.1,0.2,0.3

3. lists =====> list

4. tuples =====> tuple

5. Dictionaries =====> dict

In [ ]:
classification of data types:

Broadly data types  are  classified into two categories

1. mutable datatypes-----> which we can able to edit/alter
2. immutable datatypes-----> which we cannot able to edit/alter

In [ ]:
Introduction to string datatype:

In [ ]:
definition: A string is a series of characters declared in quotes.

classification: It is classified as an immutable datatype. 

how to declare the string ====?

1. single quote

2. double quote

In [11]:
name = 'muskan' # single quote

print(name)

muskan

In [12]:
name2 = "dinesh" # double quote

print(name2)

dinesh